# app
fastapi==0.78.0
uvicorn==0.17.6
pydantic[email]==1.9.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
celery==5.2.7
redis==4.3.2
flower==1.0.0
mypy==0.960

# db
asyncpg==0.25.0
SQLAlchemy==1.4.37
alembic==1.8.0

# dev
pytest==7.1.2
pytest-cov==3.0.0
pytest-asyncio==0.18.3
httpx==0.23.0
pydevd-pycharm==221.5591.52
